:root {
  --max-page-width: 70rem;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  object-fit: cover;
  background-repeat: no-repeat;
}

html {
  font-family: var(--font-sans);
  text-align: center;
}

body {
  min-height: 100vh;
}

h2 {
  font-family: var(--font-serif);
  color: #344964;
}

p {
  text-align: left;
  padding-inline: 1rem;
}

img {
  max-width: 100%;
}

figcaption {
  padding-top: 0.5rem;
  font-family: var(--font-sans);
}

hr {
  margin-block: 2rem;
}

.mobile-tag {
  font-size: 0.8rem;
  font-family: var(--font-serif);
  margin-top: 0;
  color: #344964;
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;
  max-width: var(--max-page-width);
  margin: auto;
}

.logo {
  width: 7rem;
  padding-top: 1rem;
}

.masthead {
  display: none;
  width: 100%;
  background-image: url('../images/buildings.jpg');
  padding-block: 5rem;
  color: white;
}

.masthead > h1 {
  font-family: var(--font-serif);
  width: 100%;
  margin: auto;
  padding: 1rem;
  max-width: var(--max-page-width);
  font-size: 2.5rem;
}

.main {
  padding: 1rem;
  max-width: var(--max-page-width);
  margin: auto;
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: white;
  background-color: #93afd4;
  padding: 1rem 9rem;
  width: 100%;
  text-align: center;
  transition: filter 300ms;
}

.nav-link:hover {
  filter: brightness(0.9);
}

.tiles {
  display: grid;
  grid-template-columns: 1fr;
}

.center-img {
  margin-inline: auto;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 0;
}

.footer a {
  color: grey;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 560px) {
  .masthead {
    display: block;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    grid-column: span 2;
  }

  .tiles {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .article-img {
    float: left;
    padding-right: 2rem;
    width: 15rem;
  }

  .mobile-tag {
    display: none;
  }

  .p {
    padding-inline: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    grid-template-columns: repeat(3, auto) 1fr;
  }

  .logo {
    grid-column: span 1;
  }

  .nav-link {
    min-width: 10rem;
  }

  .tiles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article-desk {
    display: grid;
    grid-template-columns: auto auto 1fr;
  }
}
