<!DOCTYPE html>
<head>
  <title>Portfolio</title>
</head>
<body>
  <h2>Portfolio</h2>

  <div class="tiles">
    <figure class="center-img">
      <img
        src="./images/portfolio/project-1.jpg"
        alt="iPad with a tent and trees drawn in a friendly and colourful style"
      />
      <figcaption>Children's Book Illustration</figcaption>
    </figure>

    <figure class="center-img">
      <img
        src="./images/portfolio/project-2.jpg"
        alt="iPad with font instruction book"
      />
      <figcaption>Digital Lettering</figcaption>
    </figure>

    <figure class="center-img">
      <img
        src="./images/portfolio/project-3.jpg"
        alt="an open notebook with hands sketching the word learn"
      />
      <figcaption>Hand Lettering</figcaption>
    </figure>

    <figure class="center-img">
      <img
        src="./images/portfolio/project-4.jpg"
        alt="iPad with Apple Pencil, on screen is a drawing of a tabby cat"
      />
      <figcaption>Pet Portraiture</figcaption>
    </figure>

    <figure class="center-img">
      <img
        src="./images/portfolio/project-5.jpg"
        alt="When In Rome, Do As The Romans Do is illustrated in fancy type on an iPad screen"
      />
      <figcaption>Illustrative Typography</figcaption>
    </figure>

    <figure class="center-img">
      <img
        src="./images/portfolio/project-6.jpg"
        alt="a brightly coloured palm tree logo on an iPad screen"
      />
      <figcaption>Logo Design</figcaption>
    </figure>
  </div>
  <hr />
  <p>©Copyright Maggie Paquette 2022.</p>
  <!-- image should be ./images -->
</body>
