<!DOCTYPE html>

<title>Home</title>

<div>
  <h2 class="article-desk">Does Money Have Value?</h2>

  <div class="article-desk">
    <figure class="center-img article-img">
      <img
        class="center"
        src="./images/money.jpg"
        alt="hand holding bills that are on fire"
      />
      <figcaption>The Burning Question</figcaption>
    </figure>

    <p>
      I studied anthropology and archaeology in my undergrad. I believe the
      value of money is exactly what we make it. Based in our very early
      development as homo sapiens, humans need to feel that if they are giving
      something away, they are receiving something in return. The value of money
      is directly tied to this need to feel rewarded in some way.
      <br /><br />On a surface level, money is valuable because we have
      developed a society in which we must use it to purchase goods. Money is
      essential because we need to exchange it for items that help us fulfill
      our basic needs. Shelter, food, and basic comforts cost money. These
      things also cost money to create. Therefore, there is a secondary need to
      pay those responsible for their creation. If our purchasing footprints
      were smaller, and we were able to buy the things we needed from local
      craftsmen and farmers, this money to labour equation would remain
      relatively simple. We would pay the person who made our food, shelter, or
      goods directly, based on the cost of the materials and labour. For
      example, we may pay a farmer for the cost of seeds, water, and his time
      spent in their field. <br /><br />However, this becomes more complicated
      as we reintroduce human nature. We as humans place value on objects for a
      variety of reasons (rarity, for example), creating what we call
      <em>perceived</em> rarity. Modern day advertising and marketing tactics
      can target human nature, and make us desire things that are not truly
      valuable, but become “valuable” due to clever manipulation of our
      perception of rarity, productivity, or status. The financial value of an
      object rises if the perceived value rises. In summary, humans created a
      transactional system long ago that has persisted to this day in a variety
      of forms. However, due to more modern influences, our perception and
      understanding of value has changed, and so the value of money changes too.
      With higher value, comes a higher price tag.
    </p>
  </div>
</div>

<hr />

<div>
  <h2 class="article-desk">Are GMOs Good, Bad, or Neither?</h2>

  <div class="article-desk">
    <figure class="center-img">
      <img src="./images/plant.jpg" alt="description of image" />
      <figcaption>GMOs Are In Our Hands</figcaption>
    </figure>

    <p>
      GMO food has been hotly contested for many years. Why would we genetically
      change our food, altering its natural state? The answer is not so simple.
      GMO crops can have extremely beneficial uses. For example, in countries
      with poor farming conditions, be it for long periods of drought or high
      populations of harmful insects, crops can be genetically modified to
      withstand those conditions. Likewise, genetically modified crops can have
      their nutritional value modified, and can give higher doses of vitamins
      and minerals to populations lacking a well rounded diet. When we compare
      this to more developed countries though, with the financial resources to
      give access to food that satisfies all of its population’s nutritional
      needs, we begin to see some questionable uses of genetic modification.
      <br /><br />Growing crops that are the “best” version of themselves,
      selectively bred for colour, size, or beauty, can lead to mono-crop
      culture. This is when a single crop, or single type of crop is exclusively
      grown in one area. This leaves the crop vulnerable to disease or pests
      that can target a specific strain of crop. This is typically done to
      ensure that a competitor has more appealing product to win out over the
      competition at the grocery store. <br /><br />However, GMO foods are often
      engineered to produce a much bigger crop, and allow better use of the
      already limited farmland that North American cities have to grow their
      local crops. If used responsibly, genetic modification of foods can have
      great benefit. It is up to the populations that choose to consume them to
      use their best judgement. If GMO food development was limited to
      scientists, researchers who could provide better agricultural
      opportunities to poverty stricken and food-poor countries, the question of
      if GMOs are more good than bad may be more easily answered.
    </p>
  </div>
</div>

<hr />

<div>
  <h2 class="article-desk">The View From 2100</h2>

  <div class="article-desk">
    <figure class="center-img">
      <img src="./images/world.jpg" alt="description of image" />
      <figcaption>The Creation of Our Demise</figcaption>
    </figure>

    <p>
      My view of the world in 2100 is bleak. I believe climate change will have
      become a reality, and only the richer countries will have implemented
      safeguards for its citizens. I believe the amount of animals and insects
      on earth will have dramatically decreased, and we will be facing more
      extreme weather events, with hotter summers and shorter and warmer
      winters. <br /><br />Our only hope for the future is to start electing
      individuals who care about environmental policies, and the state of the
      climate crisis as it stands. We must support companies that actively work
      to minimize their environmental impact, and individuals who create
      technology to minimize our collective impact on the environment. I believe
      the days of young generations fictionalizing a shiny, futuristic,
      flying-car 2100 is over. Generation Z has been nicknamed the “doomers”
      because of their incredibly bleak outlook on the world’s climate, and the
      hope of making a change. We’ve entered a time of consciousness about the
      environmental impact humans have, but have also become aware that large
      companies that we as individuals cannot control are the source of the
      biggest climate damage. <br /><br />It is large companies’ dependency on
      plastic, and disregard of environmental regulations that is doing a
      significant amount of damage to the climate. If we are to have any chance
      at a future that environmentally, looks similar to the world we live in
      now, we must act as individuals to create large scale change.
    </p>
  </div>
  <hr />
  <p>©Copyright Maggie Paquette 2022.</p>
</div>
